.container {
    display: grid;

    grid-template-areas: 
        "header header header"
        "content content sidebar1"
        "content content sidebar2"
        "content content sidebar2"
        "footer footer footer";

        height: 1000px;
}


#header {
    background-color: gold;
    grid-area: header;
    text-align: center;

}

#content {
    background-color: teal;
    grid-area: content;
    text-align: center;
}

#sidebar1 {
    background-color: orangered;
    grid-area: sidebar1;
    text-align: center;
}

#sidebar2 {
    background-color: violet;
    grid-area: sidebar2;
    text-align: center;
}

#footer {
    background-color: maroon;
    grid-area: footer;
    text-align: center;
}

h1
{
    font-size: 150px;
    font-family: sans-serif;
}